[submodule "projects/surf-paddle"]
	path = projects/surf-paddle
	url = https://github.com/Kazilico/surf-paddle
	branch  = gh-pages
[submodule "projects/color-clock"]
	path = projects/color-clock
	url = https://github.com/Kazilico/color-clock
	branch = gh-pages
[submodule "projects/todo-rpg"]
	path = projects/todo-rpg
	url = https://github.com/Kazilico/todo-rpg
[submodule "projects/fruityApp"]
	path = projects/fruityApp
	url = https://github.com/Kazilico/fruityApp
	branch = gh-pages