* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
}

.container {
	width: 100%;
	height: 100vh;
	text-decoration: none;
}

.stream {
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
}

.nav {
	width: 100%;
	height: 100px;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 2;
	background-image: -webkit-linear-gradient(top, rgba(25, 25, 25, 0.9) 0%, rgba(25, 25, 25, 0.9) 100%);
}

a:link, a:visited {
	text-decoration: none;
} 

.aboutMe {
	font-family: 'Martel Sans', sans-serif;
	position: relative;
	display: inline-block;
	top: 30%;
	left: 20%;
	font-size: 20px;
	color: white;
	text-decoration: none
}

a.aboutMe:hover {
	color: #B9B5A9;
}

a.aboutMe:focus {
	color: #7CA447;
}

.myWork {
	font-family: 'Martel Sans', sans-serif;
	position: relative;
	display: inline-block;
	top: 30%;
	left: 39%;
	font-size: 20px;
	color: white;
}

a.myWork:hover {
	color: #B9B5A9;
}

a.myWork:focus {
	color: #7CA447;
}

.contact {
	font-family: 'Martel Sans', sans-serif;
	position: relative;
	display: inline-block;
	top: 30%;
	left: 58%;
	font-size: 20px;
	color: white;
}

a.contact:hover {
	color: #B9B5A9;
}

a.contact:focus {
	color: #7CA447;
}

.fixed {
	width: 45%;
	height: 20vh;
	position: fixed;
	bottom: 150px;
	right: -50px;
	z-index: 1;
	background-image: -webkit-linear-gradient(top, #FFFFFF 0, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 100%);
}

.name {
	position: absolute;
	font-family: 'Martel Sans', sans-serif, bolder;
	font-size: 180px;
	color: white;
	top: 15%;
	right: 15%;
	text-decoration: none;
}

a.name:hover {
	color: #B9B5A9;
}

.intro {
	width: 100%;
	height: 100vh;
	position: relative;
	top: 0px;
	left: 0px;
}

.quoteContainer {
	width: 60%;
	position: relative;
	top: 30%;
	left: 20%;
	text-align: center;
	z-index: 1;
	background-image: -webkit-linear-gradient(top, rgba(25, 25, 25, 0.7) 0%, rgba(25, 25, 25, 0.7) 100%);
}

.quote {
	width: 40%;
	font-family: 'Martel Sans', sans-serif;
	position: relative;
	display: inline;
	margin: 3%;
	top: 5%;
	left: 5%;
	text-align: center;
	font-size: 30px;
	color: white;
	z-index: 1;
}

.author {
	font-family: 'Martel Sans', sans-serif;
	position: relative;
	display: inline;
	padding:2%;
	top: 5%;
	right: 5%;
	font-size: 35px;
	color: white;
	z-index: 1;
}

.bioContainer {
	width: 65%;
	position: relative;
	top: 30%;
	left: 10%;
	text-align: center;
	z-index: 1;
	background-image: -webkit-linear-gradient(top, rgba(25, 25, 25, 0.9) 0%, rgba(25, 25, 25, 0.9) 100%);
}

.bio1 {
	font-family: 'Martel Sans', sans-serif;
	position: relative;
	display: inline-block;
	width: 90%;
	padding-bottom: 1%;
	padding-top: 10%;
	left: 5%;
	font-size: 20px;
	color: white;
	z-index: 1;
}

.bio2 {
	font-family: 'Martel Sans', sans-serif;
	position: relative;
	display: inline-block;
	width: 90%;
	padding-bottom: 1%;
	left: 5%;
	font-size: 20px;
	color: white;
	z-index: 1;
}

.bio3 {
	font-family: 'Martel Sans', sans-serif;
	position: relative;
	display: inline-block;
	width: 90%;
	padding-bottom: 1%;
	left: 5%;
	font-size: 20px;
	color: white;
	z-index: 1;
}

.bio4 {
	font-family: 'Martel Sans', sans-serif;
	position: relative;
	display: inline-block;
	width: 90%;
	padding-bottom: 1%;
	left: 5%;
	font-size: 20px;
	color: white;
	z-index: 1;
}

.example {
	font-family: 'Martel Sans', sans-serif;
	position: absolute;
	display: inline-block;
	top: 40%;
	right: 20%;
	font-size: 35px;
	color: white;
	z-index: 1;
}

.links {
	font-family: 'Martel Sans', sans-serif;
	position: absolute;
	display: inline-block;
	top: 40%;
	right: 20%;
	font-size: 35px;
	color: white;
	z-index: 1;
}

.kazilico {
	width: 100%;
	height: 100vh;
	position: relative;
	top: 0px;
	left: 0px;
}


.workPage {
	width: 100%;
	height: 100vh;
	position: relative;
	top: 0px;
	left: 0px;
}


.contactPage {
	width: 100%;
	height: 100vh;
	position: relative;
	top: 0px;
	left: 0px;
}

.underConstruction {
	width: 70%;
	height: 20vh;
	position: fixed;
	bottom: 50px;
	left: 20px;
	font-family: 'Martel Sans', sans-serif, bolder;
	font-size: 60px;
	color: white;
	z-index: 1;
	background-image: -webkit-linear-gradient(top, #FFFFFF 0, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 100%);
}

.github {
	position: absolute;
	width: 140px;
	height: auto;
	top: 40%;
	left: 15%;
}

.medium {
	position: absolute;
	width: 140px;
	height: auto;
	top: 40%;
	left: 35%;
}

.twitter {
	position: absolute;
	width: 140px;
	height: auto;
	top: 40%;
	left: 55%;
}

.email {
	position: absolute;
	width: 140px;
	height: auto;
	top: 40%;
	left: 75%;
}

.credit {
	position: absolute;
	left: 1%;
	bottom: 1%;
	font-family: 'Martel Sans', sans-serif;
	font-size: 8px;
	color: white;
	text-decoration: none;
}

@media (max-width: 500px) {
	img {
		width: 250px;
	}
}
