* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
}

.container {
	width: 100%;
	height: 100vh;
	text-decoration: none;
}

.nav {
	width: 100%;
	height: 100px;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 1;
	background-image: -webkit-linear-gradient(top, rgba(25, 25, 25, 0.9) 0%, rgba(25, 25, 25, 0.9) 100%);
}

a:link, a:visited {
	text-decoration: none;
} 

.aboutMe {
	font-family: 'Martel Sans', sans-serif;
	position: relative;
	display: inline-block;
	top: 30%;
	left: 20%;
	font-size: 20px;
	color: white;
	text-decoration: none
}

.myWork {
	font-family: 'Martel Sans', sans-serif;
	position: relative;
	display: inline-block;
	top: 30%;
	left: 39%;
	font-size: 20px;
	color: white;
}

.contact {
	font-family: 'Martel Sans', sans-serif;
	position: relative;
	display: inline-block;
	top: 30%;
	left: 58%;
	font-size: 20px;
	color: white;
}

.intro {
	width: 100%;
	height: 100vh;
	position: relative;
	top: 0px;
	left: 0px;
}

.stream {
	width: 100%;
	height: 100vh;
	position: relative;
	top: 0px;
	left: 0px;
}

.quote {
	width: 60%;
	font-family: 'Martel Sans', sans-serif;
	position: absolute;
	display: inline-block;
	top: 30%;
	left: 20%;
	font-size: 30px;
	color: white;
	z-index: 1;
}

.author {
	font-family: 'Martel Sans', sans-serif;
	position: absolute;
	display: inline-block;
	top: 40%;
	right: 20%;
	font-size: 35px;
	color: white;
	z-index: 1;
}

.kazilico {
	width: 100%;
	height: 100vh;
	position: relative;
	top: 0px;
	left: 0px;
}

.puppyLove {
	width: 100%;
	height: 100vh;
	position: relative;
	top: 0px;
	left: 0px;
}

.workPage {
	width: 100%;
	height: 100vh;
	position: relative;
	top: 0px;
	left: 0px;
}

.nixon {
	width: 100%;
	height: 100vh;
	position: relative;
	top: 0px;
	left: 0px;
}

.contactPage {
	width: 100%;
	height: 100vh;
	position: relative;
	top: 0px;
	left: 0px;
}

.wall {
	width: 100%;
	height: 100vh;
	position: relative;
	top: 0px;
	left: 0px;
}

.underConstruction {
	width: 80%;
	height: 20vh;
	position: fixed;
	top: 350px;
	left: 355px;
	font-family: 'Martel Sans', sans-serif, bolder;
	font-size: 80px;
	color: white;
	z-index: 1;
	background-image: -webkit-linear-gradient(top, #FFFFFF 0, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 100%);
}

.fixed {
	width: 45%;
	height: 20vh;
	position: fixed;
	bottom: 150px;
	right: -50px;
	z-index: 1;
	background-image: -webkit-linear-gradient(top, #FFFFFF 0, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 100%);
}

.name {
	position: absolute;
	font-family: 'Martel Sans', sans-serif, bolder;
	font-size: 180px;
	color: white;
	top: 15%;
	right: 15%;
	text-decoration: none;
}

@media (max-width: 500px) {
	img {
		width: 250px;
	}
}
