* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
}

body {
    background-image: url(images/difficultrunscaled.jpg) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: 0% 0% !important;
    background-attachment: fixed !important;
    background-color: #000000 !important;
}

@media screen and (max-width: 1600px) {

	.container {
		width: 100%;
		height: 100vh;
		text-decoration: none;
	}

	.nav {
		width: 100%;
		height: 100px;
		position: fixed;
		top: 0px;
		left: 0px;
		z-index: 2;
		background-image: -webkit-linear-gradient(top, rgba(25, 25, 25, 0.9) 0%, rgba(25, 25, 25, 0.9) 100%);
	}

	a:link, a:visited {
		text-decoration: none;
	}

	.aboutMe, .myWork, .contact {
		font-family: 'Martel Sans', sans-serif;
		position: relative;
		display: inline-block;
		top: 30%;
		font-size: 2vw;
		color: white;
		text-decoration: none
	}

	.aboutMe {
		left: 21%;
	}

	.myWork {
		left: 40%;
	}

	.contact {
		left: 58%;
	}

	a.aboutMe:hover, a.myWork:hover, a.contact:hover {
		color: #B9B5A9;
	}

	a.aboutMe:focus, a.myWork:focus, a.contact:focus {
		color: #7CA447;
	}

	.fixed {
		width: 45%;
		height: 20vh;
		position: fixed;
		bottom: 12%;
		right: -2%;
		z-index: 1;
		background-image: -webkit-linear-gradient(top, #FFFFFF 0, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 100%);
	}

	.name {
		position: absolute;
		font-family: 'Martel Sans', sans-serif, bolder;
		font-size: 11vw;
		color: white;
		text-decoration: none;
	}

	a.name:hover {
		color: #B9B5A9;
	}

	.intro {
		width: 100%;
		height: 100vh;
		position: relative;
		top: 0px;
		left: 0px;
	}

	.quoteContainer {
		width: 60%;
		height: 30vh;
		position: relative;
		top: 30%;
		margin-left: 20%;
		padding: 20px;
		z-index: 1;
		background-image: -webkit-linear-gradient(top, rgba(25, 25, 25, 0.7) 0%, rgba(25, 25, 25, 0.7) 100%);
	}

	.quote, .author {
		font-family: 'Martel Sans', sans-serif;
		position: relative;
		display: inline;
		top: 20px;
		color: white;
		z-index: 1;
	}

	.quote {
		left: 20px;
		font-size: 2.3vw;
	}

	.author {
		left: 50px;
		font-size: 2.7vw;
	}

	.kazilico {
		width: 100%;
		height: 100vh;
		position: relative;
		top: 0px;
		left: 0px;
	}

	.bioContainer {
		width: 90%;
		position: relative;
		top: 17%;
		margin-left: 5%;
		margin-right: 15%;
		margin-top: 20%;
		margin-bottom:20%;
		padding: 2%;
		z-index: 1;
		background-image: -webkit-linear-gradient(top, rgba(25, 25, 25, 0.7) 0%, rgba(25, 25, 25, 0.7) 100%);
	}

	.bio1, .bio2, .bio3, .bio4 {
		font-family: 'Martel Sans', sans-serif;
		position: relative;
		display: inline-block;
		width: 100%;
		padding-bottom: 1%;
		left: 0%;
		font-size: 1.4vw;
		color: white;
		z-index: 1;
	}

	.links {
		font-family: 'Martel Sans', sans-serif;
		position: absolute;
		display: inline-block;
		top: 40%;
		right: 20%;
		font-size: 35px;
		color: white;
		z-index: 1;
	}

	.workPage {
		width: 100%;
		height: 100vh;
		position: relative;
		top: 0px;
		left: 0px;
	}
	/*
	.activator:hover {
		width: 150%;
		-webkit-transition: width 2000;
		z-index: 1000;
	}
	*/
	.sAndP, .colorClock, .tDRPG, .sT {
		position: absolute;
		display: inline-block;
		width: 20%;
		text-decoration: none;
	}

	.sAndP {
		top: 16%;
		left: 10%;
	}
	.colorClock {
		top: 16%;
		left: 35%;
	}

	.tDRPG {
		top: 59%;
		left: 10%;
	}

	.sT {
		top: 59%;
		left: 35%;
	}

	.surfAndPaddle, .colorClockImg, .toDoRPG, .starterTech {
		width: 100%;
		position: relative;
	}

	.surfAndPaddle, .starterTech {
		top: 2px;
	}

	.surfAndPaddleText, .colorClockText, .toDoRPGText, .starterTechText {
		font-family: 'Martel Sans', sans-serif;
		position: relative;
		padding-left: 10px;
		color: white;
		font-size: 20px;
		background-image: -webkit-linear-gradient(top, rgba(25, 25, 25, 0.7) 0%, rgba(25, 25, 25, 0.7) 100%);
	}

	.surfAndPaddleText {
		width: 52%;
	}

	.colorClockText {
		width: 46%;
	}

	.toDoRPGText {
		width: 44%;
	}

	.starterTechText {
		width: 47%;
	}

	.sAndPCodeButton, .sAndPSiteButton, .colorClockCodeButton, .colorClockSiteButton, .tDRPGCodeButton, .tDRPGSiteButton, .sTCompButton {
		font-family: 'Martel Sans', sans-serif;
		position: relative;
		display: inline-block;
		margin-top: 10px;
		padding: 10px;
		background-color: #7CA447;
		color: white;
		text-align: center;
		text-decoration: none;
	}

	.sAndPCodeButton, .sAndPSiteButton, .colorClockCodeButton, .colorClockSiteButton, .tDRPGCodeButton, .tDRPGSiteButton {
		width: 45%;
	}

	.sTCompButton {
		width: 50%;
	}

	.contactPage {
		width: 100%;
		height: 100vh;
		position: relative;
		top: 0px;
		left: 0px;
	}

	.credit {
		position: absolute;
		left: 1%;
		bottom: 1%;
		font-family: 'Martel Sans', sans-serif;
		font-size: 8px;
		color: #B9B5A9;
		text-decoration: none;
	}

	.github, .medium, .twitter, .linkedIn, .email {
		position: absolute;
		width: 110px;
		top: 40%;
	}

	.github {
		left: 15%;
		content:url("images/GithubGreen.png");
	}

	.medium {
		left: 30%;
		content:url("images/MediumGreen.png");
	}

	.twitter {
		left: 44%;
		content:url("images/TwitterGreen.png");
	}

	.linkedIn {
		left: 59%;
		content:url("images/LinkedInGreen.png");
	}

	.email {
		left: 74%;
		content:url("images/close-envelope.png");
	}
}

@media screen and (max-width: 1200px) {
	.github {
		top: 75%;
		left: 15%;
		content:url("images/GithubGreenSmall.png");
	}

	.medium {
		top: 60%;
		left: 30%;
		content:url("images/MediumGreenSmall.png");
	}

	.twitter {
		top: 45%;
		left: 44%;
		content:url("images/TwitterGreenSmall.png");
	}

	.linkedIn {
		top: 30%;
		left: 59%;
		content:url("images/LinkedInGreenSmall.png");
	}

	.email {
		top: 15%;
		left: 74%;
		content:url("images/close-envelopeSmall.png");
	}
}


@media screen and (max-width: 600px) {
	.aboutMe {
		top: 30%;
		left: 21%;
		font-size: 3.5vw;
	}

	.myWork {
		top: 30%;
		left: 37%;
		font-size: 3.5vw;
	}

	.contact {
		top: 30%;
		left: 50%;
		font-size: 3.5vw;
	}

	.fixed {
		bottom: 12%;
		right: -24%;
	}

	.name {
		transform: rotate(270deg);
		transform-origin: ;
	}

	.quoteContainer {
		width: 70%;
		height: 30vh;
		top: 25%;
		margin-left: 15%;
		padding: 20px;

	}

	.quote {
		top: 20px;
		left: 20px;
		font-size: 4.15vw;
	}

	.author {
		display: inline-block;
		top: 20px;
		left: 120px;
		font-size: 4.5vw;
	}

	.bioContainer {
		width: 70%;
		height: 74vh;
	}

	.bio1 {
		width: 95%;
		padding-bottom: 6%;
		left: 2%;
		font-size: 2.4vw;
	}

	.bio2 {
		width: 95%;
		padding-bottom: 6%;
		left: 2%;
		font-size: 2.4vw;
	}

	.bio3 {
		width: 95%;
		padding-bottom: 6%;
		left: 2%;
		font-size: 2.4vw;
	}

	.bio4 {
		width: 95%;
		padding-bottom: 6%;
		left: 2%;
		font-size: 2.4vw;
	}

	.sAndP {
		width: 35%;
		top: 20%;
		left: 10%;
	}

	.surfAndPaddleText {
		width: 100%;
		font-size: 15px;
		text-align: center;
		padding: 10px;
	}

	.sAndPCodeButton {
		display: block;
		margin-top: 10px;
		width: 100%;
	}

	.sAndPSiteButton {
		display: block;
		width: 100%;
	}

	.colorClock {
		width: 35%;
		top: 20%;
		left: 50%;
	}

	.colorClockText {
		width: 100%;
		font-size: 15px;
		text-align: center;
		padding: 10px;
	}

	.colorClockCodeButton {
		display: block;
		margin-top: 10px;
		width: 100%;
	}

	.colorClockSiteButton {
		display: block;
		width: 100%;
	}

	.tDRPG {
		width: 35%;
		top: 59%;
		left: 10%;
	}

	.toDoRPG {
		width: 100%;
		position: relative;
	}

	.toDoRPGText {
		width: 100%;
		font-size: 15px;
		text-align: center;
		padding: 10px;	}

	.tDRPGCodeButton {
		display: block;
		margin-top: 10px;
		width: 100%;
	}

	.tDRPGSiteButton {
		display: block;
		width: 100%;
	}

	.sT {
		width: 35%;
		top: 59%;
		left: 50%;
	}

	.starterTech {
		width: 100%;
		position: relative;
	}

	.starterTechText {
		width: 100%;
		font-size: 15px;
		text-align: center;
		padding: 10px;
	}

	.sTCompButton {
		display: block;
		margin-top: 10px;
		width: 100%;
	}

}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {	
	.aboutMe, .myWork, .contact {
		top: 25%;
		font-size: 3vw;
	}

	.aboutMe {
		left: 20%;
	}

	.myWork {
		left: 36%;
	}

	.contact {
		left: 52%;
	}

	.quoteContainer {
		width: 70%;
		height: 50vh;
		position: relative;
		top: 22%;
		margin-left: 15%;
		padding: 20px;
		z-index: 1;
		background-image: -webkit-linear-gradient(top, rgba(25, 25, 25, 0.7) 0%, rgba(25, 25, 25, 0.7) 100%);
	}

	.quote, .author {
		font-family: 'Martel Sans', sans-serif;
		position: relative;
		top: 20px;
		color: white;
		z-index: 1;
	}

	.quote {
		display: inline;
		left: 18px;
		font-size: 5.5vw;
	}

	.author {
		display: block;
		top: 25px;
		left: 160px;
		font-size: 5.8vw;
	}

	.name {
		top: 370px;
		left: 270px;
		transform: rotate(270deg);
		transform-origin: left top 0;
	}

	.bioContainer {
		width: 80%;
		top: 12%;
		margin-left: 5%;
		padding: 3%;
	}

	.bio1, .bio2, .bio3, .bio4 {
		font-size: 3vw;
	}

	.sAndP, .colorClock, .tDRPG, .sT {
		width: 35%;
	}

	.sAndP {
		top: 16%;
		left: 10%;
	}
	.colorClock {
		top: 16%;
		left: 52%;
	}

	.tDRPG {
		top: 49%;
		left: 10%;
	}

	.sT {
		top: 49%;
		left: 52%;
	}

	.surfAndPaddle, .colorClockImg, .toDoRPG, .starterTech {
		width: 100%;
		position: relative;
	}

	.surfAndPaddleText, .colorClockText, .toDoRPGText, .starterTechText {
		font-size: 35px;
	}

	.surfAndPaddleText {
		width: 75%;
	}

	.colorClockText {
		width: 65%;
	}

	.toDoRPGText {
		width: 63%;
	}

	.starterTechText {
		width: 64%;
	}

	.sAndPCodeButton, .sAndPSiteButton, .colorClockCodeButton, .colorClockSiteButton, .tDRPGCodeButton, .tDRPGSiteButton, .sTCompButton {
		font-size: 23px;
	}

	.sAndPCodeButton, .sAndPSiteButton, .colorClockCodeButton, .colorClockSiteButton, .tDRPGCodeButton, .tDRPGSiteButton {
		width: 49%;
	}

	.sTCompButton {
		width: 55%;
	}

	.github, .medium, .twitter, .linkedIn, .email {
		position: absolute;
		width: 150px;
	}

	.github {
		top: 17%;
		left: 40%;
	}

	.medium {
		top: 33%;
		left: 40%;
	}

	.twitter {
		top: 49%;
		left: 40%;
	}

	.linkedIn {
		top: 65%;
		left: 40%;
	}

	.email {
		top: 80%;
		left: 40%;
	}
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	.quoteContainer {
		width: 70%;
		height: 65vh;
		margin-left: 15%;
	}

	.quote, .author {
		font-family: 'Martel Sans', sans-serif;
		position: relative;
		top: 20px;
		color: white;
		z-index: 1;
	}

	.quote {
		font-size: 4.5vw;
	}

	.author {
		left: 165px;
		font-size: 5.8vw;
	}

	.name {
		top: 220px;
		left: 290px;
		transform: rotate(270deg);
		transform-origin: left top 0;
	}

	.bioContainer {
		width: 81%;
		top: 18%;
		margin-left: 6%;
		margin-top: 18%;
	}

	.bio1, .bio2, .bio3, .bio4 {
		font-size: 1.9vw;
	}

	.sAndP, .colorClock, .tDRPG, .sT {
		width: 30%;
	}

	.sAndP {
		top: 16%;
		left: 7%;
	}
	.colorClock {
		top: 16%;
		left: 52%;
	}

	.tDRPG {
		top: 56%;
		left: 7%;
	}

	.sT {
		top: 56%;
		left: 52%;
	}

	.surfAndPaddleText, .colorClockText, .toDoRPGText, .starterTechText {
		font-size: 31px;
	}

	.sAndPCodeButton, .sAndPSiteButton, .colorClockCodeButton, .colorClockSiteButton, .tDRPGCodeButton, .tDRPGSiteButton, .sTCompButton {
		font-size: 21px;
	}

	.sAndPCodeButton, .sAndPSiteButton, .colorClockCodeButton, .colorClockSiteButton, .tDRPGCodeButton, .tDRPGSiteButton {
		width: 49%;
	}

	.sTCompButton {
		width: 55%;
	}

	.github, .medium, .twitter, .linkedIn, .email {
		position: absolute;
		width: 130px;
	}

	.github {
		top: 17%;
		left: 15%;
	}

	.medium {
		top: 33%;
		left: 27%;
	}

	.twitter {
		top: 49%;
		left: 40%;
	}

	.linkedIn {
		top: 65%;
		left: 53%;
	}

	.email {
		top: 80%;
		left: 67%;
	}
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
}
/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}